<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flabedu.peoplemeet.domain.region.repository.RegionMapper">
    <select id="findAll" resultType="regionCacheDto">
        SELECT
           region_id,
           level,
           name,
           parents_region_id
        FROM
            REGION
    </select>

    <select id="findById" resultType="regionCacheDto" parameterType="string">
        SELECT
            region_id,
            level,
            name,
            parents_region_id
        FROM
            REGION
        WHERE
            region_id = #{regionId}
    </select>
</mapper>