<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flabedu.peoplemeet.domain.interest.repository.GroupInterestMapper">
    <select id="findAllByGroupId" resultType="groupInterest">
        SELECT
           A.GROUP_INTEREST_ID AS ID,
           A.PRIORITY
           B.NAME AS NAME,
        FROM
            GROUP_INTEREST A
            INNER JOIN GROUPS B
                A.GROUP_ID = B.GROUP_ID
    </select>
</mapper>